<!-- sample site banner -->
<div id="anchor">
    <div id="df-banner">
        <p id="banner-copy"><strong>This sample site was built by Dave Fass.</strong> Interested in working together? Let's chat!</p><a href="https://davefass.com/contact" id="banner-button">Contact Me! </a>
    </div>
</div>

<style>
    #df-banner {
        align-items: center;
        background: #6000ff;
        border-bottom: 3px solid #000;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        font-size: calc(16px + 3vw);
        gap: 1em;
        justify-content: space-around;
        max-width: 100%;
        padding: 3vh;
        width: 100vw;
    }

    #banner-copy {
        font-size: 1.1rem;
    }

    #banner-button {
        background: palegreen;
        border: 2px solid #4100AF;
        border-radius: 10px;
        box-shadow: -0.1em 0.1em 0.2em #000;
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        padding: 0.5em 1em;
        text-decoration: none;
        text-wrap: nowrap;
        vertical-align: middle;
    }

    #banner-button:hover {
        background: magenta;
        color: #fff;
        transition: 0.25s ease-in;
        transform: scale(1.1);
    }
</style>