<!-- sample site banner -->
<div id="anchor">
    <div id="df-banner">
        <p id="banner-copy"><strong>This is a sample site built by Dave Fass.</strong> If you like what you see, get in touch!</p><a href="https://davefass.com/contact"
        id="banner-button">Contact Me!</a>
    </div>
</div>

<style>
    #anchor {
        margin-bottom: 5rem;
        max-height: 10vh;
    }
    #df-banner {
        align-items: center;
        background: paleturquoise;
        border-bottom: 3px solid #000;
        color: #000;
        display: flex;
        flex-flow: row nowrap;
        font-size: calc(16px + 3vw);
        height: 5vh;
        justify-content: space-between;
        left: 0;
        max-height: 10vh;
        max-width:100%;
        position: absolute;
        top: 0;
        vertical-align: middle;
        width: 100vw;
    }

    #banner-copy {
        margin-left: 2em;
        margin-right: 0.5em;
        font-size: 1.1rem;
    }

    #banner-button {
        background: coral;
        border: 1px solid maroon;
        border-radius: 10px;
        box-shadow: -0.1em 0.1em 0.2em #000;
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        margin-left: 0.5em;
        margin-right: 2em;
        padding: 0.35em 0.75em 0.2em 0.75em;
        text-decoration: none;
        text-wrap: nowrap;
        vertical-align: middle;
    }
</style>